{% extends "base.html" %}

{% block content %}
    <div class="ui container">
        <div class="ui raised segment">
            <h2 class="ui header">내 회원정보</h2>
            <form class="ui form form-horizontal" style="margin:20px; " action='' method="post">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-primary" value="수정하기"/>
            </form>
            <div class="ui divider"></div>
            <h3>계정삭제</h3>
            {% if google_login %}
                {% if can_disconnect %}
                    <form method="post"
                          action="{% url 'social:disconnect_individual' 'google-oauth2' google_login.id %}">
                        {% csrf_token %}
                        <button type="submit">Disconnect from Google</button>
                    </form>
                {% endif %}
            {% endif %}
        </div>
    </div>

{% endblock %}