{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui blue image header">
                <img src="{% static "/images/logo.png" %}" class="image">
                <div class="content">
                    Log-in to your account
                </div>
            </h2>
            <form action="{% url 'login' %}" method="post" class="ui large form"> {% csrf_token %}
                <div class="ui stacked segment">
                    <input type="hidden" name="next" value="{{ next }}"/>
                    <div class="field"></div>
                    <a href="{% url 'social:begin' 'google-oauth2' %}">
                        <div class="ui fluid large google plus button">
                            <i class="google plus icon"></i>
                            Login with Google
                        </div>
                    </a>
                </div>
                {% if form.errors %}
                    <div class="ui error message">
                        <p>Your username and password didn't match. Please try again.</p>
                    </div>
                {% endif %}
            </form>

            <div class="ui message">
               <a href="/admin">Admin</a>
            </div>
        </div>
    </div>
{% endblock %}