{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui blue image header">
                <img src="{% static "/images/logo.png" %}" class="image">
                <div class="content">
                    추가정보 입력
                </div>
            </h2>
            <div class="ui stacked segment">
                <form class="ui form" id="signup_form" method="post"
                      action="/oauth/complete/google-oauth2/"> {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}"/>
                    <div class="two fields">
                        <div class="field">
                            <label>부서</label>
                            <div class="ui selection dropdown">
                                <input type="hidden" name="department">
                                <i class="dropdown icon"></i>
                                <div class="default text">부서를 선택해주세요</div>
                                <div class="menu">
                                    {% for department in departments %}
                                        <div class="item" data-value="{{ department }}">{{ department }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>직위</label>
                            <div class="ui selection dropdown">
                                <input type="hidden" name="position">
                                <i class="dropdown icon"></i>
                                <div class="default text">직위를 선택해주세요</div>
                                <div class="menu">
                                    {% for position in positions %}
                                        <div class="item" data-value="{{ position }}">{{ position }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>연락처</label>
                            <input type="text" name="contact" pattern="(\d{3}).*(\d{3}).*(\d{4})" maxlength="11"
                                   placeholder="숫자만 입력해주세요" required>
                        </div>
                        <div class="field">
                            <label>서명이미지</label>
                            <div class="ui fluid action input">
                                <input type="text" placeholder="없으면 넘어가세요." readonly>
                                <input type="file" style="display:none;">
                                <div class="ui icon button">
                                    <i class="cloud upload icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="two fields">
                        {% if not has_google_gender %}
                            <div class="field">
                                <label>성별</label>
                                <div class="ui selection dropdown">
                                    <input type="hidden" name="gender">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">성별을 선택해주세요</div>
                                    <div class="menu">
                                        <div class="item" data-value="male">남자</div>
                                        <div class="item" data-value="female">여자</div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if not has_google_nickname %}
                            <div class="field">
                                <label>별명</label>
                                <input type="text" name='nickname' placeholder="없으면 넘어가세요.">
                            </div>
                        {% endif %}
                    </div>
                    <button class="ui button" type="submit">가입하기</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        $("input:text").click(function () {
            $(this).parent().find("input:file").click();
        });

        $('input:file', '.ui.action.input')
            .on('change', function (e) {
                var name = e.target.files[0].name;
                $('input:text', $(e.target).parent()).val(name);
            });
    </script>
{% endblock %}