{% extends 'approval/base.html' %}
{% load static %}
{% block content %}
    <nav class="navbar ui top fixed borderless menu">
        <div class="ui container">
            <a href="/" class="header item">
                <img class="logo" src="{% static "/images/logo.png" %}" style="margin-right:1rem;">
                <header class="header" style="color:#0F75BD;font-size:1.5rem;font-style:italic;">inBee</header>
            </a>
            <div class="logged-out right menu">
                <div class="item">
                    <div class="ui buttons">
                        <button class="ui left attached green basic button"
                                style="width:5.8em;text-align:center;padding-left:inherit;padding-right:inherit;">내정보
                        </button>
                        <button class="ui right attached red basic button"
                                style="width:5.8em;text-align:center;padding-left:inherit;padding-right:inherit;">로그아웃
                        </button>
                    </div>
                </div>
                <div class="toc icon button item" style="color:#545454;">
                    <i class="sidebar icon"></i>
                </div>
            </div>
        </div>
    </nav>
    <section>
        <div class="inputform">
            <div class="blue button">휴가 신청하기</div>
        </div>
    </section>
    <article>
        <div class="posts">
            <div>name</div>
            <div>reason</div>
            <div>position</div>
            <div>department</div>
        </div>
        {% for approval in approvals %}
            <div class="post">
                {{ approval.name }}
                {{ approval.reason }}
                {{ approval.position }}
                {{ approval.department }}
            </div>
        {% endfor %}
    </article>
{% endblock %}