{% extends 'approval/base.html' %}
{% load static %}

{% block content %}
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui blue image header">
                <img src="{% static "/images/logo.png" %}" class="image">
                <div class="content">
                    Log-in to your account
                </div>
            </h2>
            <form action="/login_do" method="post" class="ui large form"> {% csrf_token %}
                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="username" placeholder="User Name">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <input type="submit" value="Login" class="ui fluid large blue submit button">
                    <div class="field"></div>
                    <div class="ui fluid large google plus button">
                        <i class="google plus icon"></i>
                        Google Login
                    </div>
                </div>

                <div class="ui error message"></div>

            </form>

            <div class="ui message">
                New to us? <a href="#">Sign Up</a>
            </div>
        </div>
    </div>
{% endblock %}