{% extends 'approval/base.html' %}
{% load static %}

{% block content %}
    <div class="ui attached bottom segment-app">
        <!-- 사이드 바 -->
        <div class="ui inverted labeled icon right inline vertical sidebar menu">
            <a class="item">
                <i class="home icon"></i>
                Home
            </a>
            <a class="item">
                <i class="block layout icon"></i>
                Topics
            </a>
            <a class="item" href="{% url 'logout' %}">
                <i class="sign out icon"></i>
                Logout
            </a>
        </div>
        <!-- /사이드 바 -->
        <div class="modal fade" id="modal"></div>
        <div class="wrap-content" style="padding-top: 6rem;">
            <nav class="navbar ui top fixed borderless menu">
                <div class="ui container">
                    <a href="/" class="header item">
                        <img class="logo" src="{% static "/images/logo.png" %}" style="margin-right:1rem;">
                        <header class="header" style="color:#0F75BD;font-size:1.5rem;font-style:italic;">inBee</header>
                    </a>
                    <div class="logged-out right menu">
                        <div class="item">
                            <a class="ui teal large image label" href="/account">
                                <img src="{{ request.user.image }}">
                                {{ request.user.username }}
                                <div class="detail">{{ request.user.position }}</div>
                            </a>
                        </div>
                        <div class="toc icon button menu-icon item menu" style="color:#545454;">
                            <i class="sidebar icon"></i>
                        </div>
                    </div>
                </div>
            </nav>
            <main id="main-content">
                <div class="home ui text container main-container">
                    <!--intro-->
                    <div class="intro-card ui secondary inverted blue padded text segment center aligned"
                         style="box-shadow:0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;padding:3em;">
                        <h2 style="font-weight:400;">
                            <span>InBee - InSpace 휴가 신청 데모 어플리케이션</span>
                        </h2>
                    </div>
                    <div class="post-composer ui container" style="margin-top:calc(2rem - 0.14285em);">
                        <div class="post-composer-card ui centered card dimmable" style="max-width:496px;width:100%;">
                            <a href="{% url 'approval_new' %}" class="ui attached bottom blue button">
                                <i class="add icon"></i>휴가신청하기
                            </a>
                        </div>
                        <div id="post-composer-general-error-message" class="ui general error message hidden"
                             style="color:#9F3A38 !important;border-color:#E0B4B4 !important;font-weight:initial;"></div>
                    </div>
                    <!-- /intro -->
                    <!-- 정렬기준 -->
                    <div class="posts-header main-top-margin">
                    <span class="ui header">
                        <span>결재</span>
                    </span>
                        <div class="ui right floated basic segment"
                             style="margin:0;padding:0;font-weight:bold;font-size:0.8em;">
                            <span>정렬기준</span>
                            <span>&nbsp;&nbsp;&nbsp;</span>
                            <div class="ui dropdown sorting-option floating labeled icon button tiny blue"
                                 style="width:12em;text-align:center;margin-right:0;" tabindex="0">
                                <div class="text">최신순</div>
                                <i class="sort content descending icon"></i>
                                <div class="menu" tabindex="-1">
                                    <div class="item active selected" value="newest" data-value="newest">
                                        최신순
                                    </div>
                                    <div class="item" value="upvotes" data-value="upvotes">
                                        올려요순
                                    </div>
                                    <div class="item" value="comments" data-value="comments">
                                        댓글순
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui divider"></div>
                    </div>
                    <!-- /정렬기준 -->
                    <!-- 결제 건들 -->
                    <div class="posts ui container">
                        <div class="list-component">
                            <!-- 결제 카드들 -->
                            <div class="ui one cards" style="margin-top:1em;margin-bottom:0.8em;">
                                <!-- 결제 카드 1건 -->
                                {% for approval in approvals %}
                                    <div class="ui container"
                                         style="margin-top:0.5em;margin-bottom:0.5em;margin-left:auto;margin-right:auto;width:100% !important;">
                                        <div class="ui centered card" style="max-width:496px;width:100%;">
                                    <span class="ui header content">
                                        <span>휴가신청서</span>
                                    </span>

                                            <div class="content" style="padding-top:0.6em;padding-bottom:0.4em;">
                                                <a class="user" href="">
                                                    <i class="user circular inverted blue user icon"></i>
                                                    <span id="approval_name">{{ approval.username }}</span>
                                                    <span> {{ approval.position }}</span>
                                                    (
                                                    <span id="approval_department">{{ approval.department }}</span>
                                                    )
                                                </a>
                                                <div class="ui center aligned container"
                                                     style="max-width:300px !important;float:right;margin-left:auto !important;margin-right:auto">
                                                    <div style="text-align:left;word-break:break-all;float:right;white-space:nowrap;text-overflow:ellipsis;">
                                                        <i class="ui labeled big green circle icon"></i>
                                                        <i class="ui labeled big green circle icon"></i>
                                                        <i class="ui labeled big grey circle icon"></i>
                                                    </div>
                                                    <span></span>
                                                </div>
                                                <div class="meta date"
                                                     style="font-size:0.85em;">{{ approval.write_date|date:"Y-m-d H:i" }}</div>
                                                <div class="ui hidden divider"></div>
                                                <div class="ui" href="">
                                                    {% comment %}https://docs.djangoproject.com/en/dev/ref/templates/builtins/#date{% endcomment %}
                                                    <p><span>구분</span> :
                                                        <span>{{ approval.leave_classification }}</span></p>
                                                    <p><span>일자</span> :
                                                        <span>{{ approval.start_date|date:"Y-m-d" }} ~ {{ approval.end_date|date:"Y-m-d" }} ({{ approval.start_date | timesince:approval.end_date }})</span>
                                                    </p>
                                                    <p><span>세부내용</span> : <span
                                                            id="approval_reason">{{ approval.reason }}</span></p>
                                                    <p><span>행선지</span> : <span
                                                            id="approval_position">{{ approval.destination }}</span></p>
                                                    <p><span>비상연락처</span> :
                                                        <span>{{ approval.emergency_contact }}</span></p>
                                                </div>
                                            </div>
                                            <div class="ui extra"
                                                 style="text-align:center; position:relative!important;font-size:0.88em;">
                                                <div class="noDown"
                                                     style="position:absolute;right:0;padding-right:1em;"><a
                                                        class="comment-info" href="">
                                                    <i class="comment icon"></i>
                                                    <span>댓글 없음</span>
                                                </a></div>
                                                <div class="buttons ui buttons">
                                                    <button class="ui blue left attached button"
                                                            style="width: 5.8em;text-align:center;padding-left:inherit;padding-right:inherit;">
                                                        결제하기
                                                    </button>
                                                    <button class="ui gray right attached button"
                                                            style="width: 5.8em;text-align:center;padding-left:inherit;padding-right:inherit;">
                                                        반려하기
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                                <!-- /결제 카드 1건 -->

                            </div>
                            <!-- /결제 카드들 -->
                            <!-- 로드하기 -->
                            <div class="ui center aligned container">
                                <button class="ui basic blue button" style="font-size:120%;">로드하기</button>
                            </div>
                            <!-- /로드하기 -->
                        </div>
                    </div>
                    <!-- /결제 건들 -->
                </div>
            </main>
        </div>
    </div>
    <script>
        $('.ui.dropdown')
            .dropdown()
        ;
        $('.ui.sidebar')
            .sidebar({context: $('.bottom.segment-app')})
            .sidebar('setting', 'transition', 'overlay')
            .sidebar('attach events', '.menu .menu-icon')
        ;
    </script>
    <script>
        $('#modal').on('show.bs.modal', function (event) {
            var modal = $(this)
            $.ajax({
                url: "{% url 'approval_new' %}",
                context: document.body
            }).done(function (response) {
                modal.html(response);
            });
        })
    </script>
{% endblock %}