{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "semantic/dist/semantic.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
    <title>InBee</title>
    <style type="text/css">
        body {
            background: #dcddde;
        }

        body > .grid {
            height: 100%;
        }

        .image {
            margin-top: -100px;
        }

        .column {
            max-width: 450px;
        }
    </style>
</head>
<body>
<div class="ui attached bottom segment-app">
    {#사이드바시작#}
    <div class="ui inverted labeled icon right inline vertical sidebar menu">
        <a class="item" href="/">
            <i class="home icon"></i>
            홈
        </a>
        <a class="item" href="{% url 'approval_my' %}">
            <i class="block layout icon"></i>
            내 결재
        </a>
        <a class="item" href="{% url 'logout' %}">
            <i class="sign out icon"></i>
            로그아웃
        </a>
    </div>
    {#사이드바끝#}
    {#모달시작#}
    <div class="modal-component" id="modal">
        <div class="ui modal modal-form">
            <i class="close icon"></i>
            <div class="header">
                휴가신청하기
            </div>
            <div class="content">
                <div class="content">
                    <form class="ui form">
                        <h4 class="ui header">결재라인 선택하기</h4>
                        <div class="ui fields">
                            <select name="select-approval-line" class="ui fluid dropdown search">
                                {% for key, value in approval_line_dict.items %}
                                    <option value="{{ key }}">{{ key }} : {{ value.description }}
                                        - {{ value.approval_line }}</option>
                                {% endfor %}
                            </select>
                        </div>
{#                        <div class="ui container center aligned">#}
{#                            <div class="ui button green">결재에 추가하기</div>#}
{#                        </div>#}
                    </form>
                    <div class="ui divider"></div>
                    {#                    <div>#}
                    {#                        <form class="ui form">#}
                    {#                            <h4 class="ui header">결재라인 추가하기(라인 순서대로 추가해주세요)</h4>#}
                    {#                            <div class="ui fields">#}
                    {#                                <select name="new-approval-line" multiple="" class="ui fluid dropdown search">#}
                    {#                                    {% for emp in employee %}#}
                    {#                                        {% if emp == user %}#}
                    {#                                            <option value="{{ emp.username }}"#}
                    {#                                                    selected>{{ emp.username }}({{ emp.email }})#}
                    {#                                            </option>#}
                    {#                                        {% else %}#}
                    {#                                            <option value="{{ emp.username }}">{{ emp.username }}({{ emp.email }})</option>#}
                    {#                                        {% endif %}#}
                    {#                                    {% endfor %}#}
                    {#                                </select>#}
                    {#                            </div>#}
                    {#                            <div class="ui fields">#}
                    {#                                <div class="ui"></div>#}
                    {#                            </div>#}
                    {#                            <div class="ui container center aligned">#}
                    {#                                <div class="ui button">결재라인에 새로 저장하기</div>#}
                    {#                            </div>#}
                    {#                        </form>#}
                    {#                    </div>#}
                </div>

                <form class="ui form" action="{% url 'approval_new' %}" method="post">{% csrf_token %}
{#                    <div class="ui container centered">#}
{#                        <div id="approval-trigger" class="ui blue approval-line-add button">결재라인 추가하기</div>#}
{#                    </div>#}
                    {% for field in form %}
                        {% if field.is_hidden == True %}
                            {{ field }}
                        {% else %}
                            {{ field.label }}
                            <div class="ui fields">{{ field }}</div>
                        {% endif %}
                    {% endfor %}
                    <div class="ui divider"></div>
                    <div class="ui actions">
                        <div class="ui black deny button">취소</div>
                        <button class="ui positive right labeled icon button" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="ui info approval-line-modal modal" data-object="approval-trigger">
        <div class="header">
            결재라인 추가하기
        </div>
        <div class="content">
            <div class="ui container">
                <form class="ui form">
                    <h4 class="ui header">결재라인 선택하기</h4>
                    <div class="ui fields">
                        <select name="select-approval-line" class="ui fluid dropdown search">
                            {% for key, value in approval_line_dict.items %}
                                <option value="{{ key }}">{{ key }} : {{ value.description }}
                                    - {{ value.approval_line }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="ui container center aligned">
                        <div class="ui button green">결재에 추가하기</div>
                    </div>
                </form>
            </div>
            <div class="ui divider"></div>
            <div>
                <form class="ui form">
                    <h4 class="ui header">결재라인 추가하기(라인 순서대로 추가해주세요)</h4>
                    <div class="ui fields">
                        <select name="new-approval-line" multiple="" class="ui fluid dropdown search">
                            {% for emp in employee %}
                                {% if emp == user %}
                                    <option value="{{ emp.username }}" selected>{{ emp.username }}({{ emp.email }})
                                    </option>
                                {% else %}
                                    <option value="{{ emp.username }}">{{ emp.username }}({{ emp.email }})</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="ui fields">
                        <div class="ui"></div>
                    </div>
                    <div class="ui container center aligned">
                        <div class="ui button">결재라인에 새로 저장하기</div>
                    </div>
                </form>
            </div>
        </div>
        <div class="actions">
            <div class="ui deny black button">Close</div>
        </div>
    </div>
    {#모달끝#}
    {#네비게이션바시작#}
    <div class="wrap-content" style="padding-top: 6rem;">
        <nav class="navbar ui top fixed borderless menu">
            <div class="ui container">
                <a href="/" class="header item">
                    <img class="logo" src="{% static "/images/logo.png" %}" style="margin-right:1rem;">
                    <header class="header" style="color:#0F75BD;font-size:1.5rem;font-style:italic;">InBee</header>
                </a>
                {% if user.is_authenticated %}
                    <div class="logged-out right menu">
                        <div class="item">
                            <a class="ui teal large image label" href="/account">
                                <img src="{{ request.user.image }}">
                                {{ request.user.username }}
                                <div class="detail">{{ request.user.position }}</div>
                            </a>
                        </div>
                        <div class="toc icon button menu-icon item menu" style="color:#545454;">
                            <i class="sidebar icon"></i>
                        </div>
                    </div>
                {% endif %}
            </div>
        </nav>
        {% block content %}
        {% endblock %}
    </div>
    {#네비게이션바끝#}
</div>

{#푸터#}
<div class="ui vertical footer segment">
    <div class="ui center aligned container">
        <div class="ui inverted section divider"></div>
        <img src="{% static "/images/logo.png" %}" class="ui centered mini image">
        <div class="ui horizontal small divided link list">
            <a class="item" href="#">Site Map</a>
            <a class="item" href="#">Contact Us</a>
            <a class="item" href="#">Terms and Conditions</a>
            <a class="item" href="#">Privacy Policy</a>
        </div>
    </div>
</div>
<script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
<script src="{% static "semantic/dist/semantic.js" %}"></script>
<script src="{% static "js/jquery.form.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>
</body>
</html>

