*.pyc
*.iws
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
node_modules/
.idea/
approval/__pycache__/
inspace/__pycache__/
*.sqlite3
/approval/migrations/0*_*.py
/settings.json
